#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: .3rem;
}

#navbar form {
    display: flex;
    gap: .3rem;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
}

#navbar form button {
    background-color: #F7D354;
    border: 2px solid #F7D354;
    border-radius: 4px;
    color: #000;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #F7D354;
}

@media(max-width: 500px ) {
    #navbar {
        flex-direction: column;
    }

    #navbar h2 a {
        margin-bottom: 1rem;
    }

    #navbar input {
        padding: 0.2rem 0.4rem;
    }
}