$white-color: #FFF;
$primary-color: #F7D354;
$background-color: #222;
$error-color: orangered;
$navbar-bg-color: #121212;
$primary-color-text: #000;
$front-color: #b8930c;
$back-color: #c3c8de;
$text-color: #414856;